<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% link index.md %}">
      <img src="{{ '/assets/img/cvrg_logo.png' | relative_link }}" class="d-inline-block" alt="iztech ">
      Computer Vision Research Group at Izmir Institute of Technology
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active"> -->
        <li class="nav-item">
          <a class="nav-link" href="{% link index.md %}">Home<!-- <span class="sr-only">(current)</span>--></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% link index.md %}" id="members" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
          <div class="dropdown-menu" aria-labelledby="members">
            <a class="dropdown-item" href="{% link index.md %}">Current Members</a>
            <a class="dropdown-item" href="{% link index.md %}">Alumni</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="research" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research</a>
          <div class="dropdown-menu" aria-labelledby="research">
            {% for research in site.research %}
            <a class="dropdown-item" href="{{ research.url }}">{{research.title}}</a>
            {% endfor %}
          </div>
        </li>
        {% if site.posts.size > 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{% link blog/index.html %}">Publications</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% link contact.md %}" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="about">
            <a class="dropdown-item" href="{% link contact.md %}">History</a>
            <a class="dropdown-item" href="{% link contact.md %}">Operations</a>
            <a class="dropdown-item" href="{% link contact.md %}">Contact</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
