// Styling for the footer
footer {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  background-color: $secondary;

  span {
    font-size: 0.7rem;
    text-transform: none;
    @include heading-font;

    &.copyright {
      font-size: 0.6rem;
    }

  img {
    width: 90px;
    height: 30px;
    object-fit: contain;
    vertical-align: middle;
  }
  }

  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }

  a {
    color: $cvrg-blue;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      color: darken($cvrg-orange, 10%);
    }
  }
}

@media (min-width: 768px) {
  footer {
    height: 100px;
  }
}
